@font-face {
    font-family: 'Minecraft';
    src: url('fontok/MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
main {
    display: grid;
    font-family: Minecraft;
    background-image: url(kepek/overworld/dirt.png);
    grid-template-areas: 
    "h h h"
    "a n n"
    "a ar ar"
    "a f f";
}
header {
    grid-area: h;
    margin: auto;
    margin-top: 10px;
}
aside {
    background-image: url(kepek/bright_stone.png);
    grid-area: a;
    border: 3px solid black;
    margin: 10px;
    padding: 3px;
    
}
aside ul {
    list-style: none;
    padding: 3px;
    
}
aside ul a {
    background-color: gray;
    text-decoration: none;
}
article {
    background-image: url(kepek/bright_stone.png);
    grid-area: ar;
    border: 3px solid black;
    margin:10px;
    padding: 8px;
}
nav {
    grid-area: n;
    border: 3px solid black;
    background-color: green;
    margin:5px;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}
nav ul :hover {
    background-color: darkgreen;
}
nav li a {
    color:white;
    text-decoration: none;
}
header img {
    max-width: 300px;
    
}
article img {
    float:right;
    max-height: 70%;
    max-width: 60%;
}
